body {
	
}

button {
    background-color: #87CEEB; /* Light blue color */
    color: #000000; /* Black text */
    border: none; /* Remove default border */
    border-radius: 18px; /* Rounded borders */
    margin-right:6px;
    line-height:15px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Shadow */
    padding: 10px 20px; /* Padding for a comfortable size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
    background-color: #87CEEB; /* Light blue color */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

input {
	line-height:25px;
	border-radius: 2px; /* Rounded borders */
	border-color: rgba(255,255,255,1);
	padding:6px;
	margin-right: 6px;
	margin-top:6px;
	border:1px solid #000000;
}

button#newSetBtn:disabled {
	visibility: hidden;
}